<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>toggleCommentController</servlet-name>
        <servlet-class>controller.toggleCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPost</servlet-name>
        <servlet-class>view.viewPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>toggleCommentController</servlet-name>
        <url-pattern>/toggleComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPost</servlet-name>
        <url-pattern>/viewPost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
